{% extends 'main.html' %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

<div class="container">
    <div class="d-flex justify-content-center">
        <h1>User Created Polls</h1>
    </div>
    <div class="row justify-content-center py-4">
        <div class="col-8">
            <div class="list-group list-group">
                <style>
                    .ms-2,
                    .ms-2:hover {
                        text-decoration: none;
                    }

                    .list-group-item:hover {
                        background-color: rgb(226, 238, 146);
                    }
                </style>
                {% for poll in userPolls %}


                <div class="list-group-item d-flex justify-content-between 
                            align-items-start pollListOpt border border-dark-subtle 
                            border-2 rounded">
                    <i class="zmdi zmdi-circle-o zmdi-hc-lg" data-bs-toggle="modal" data-bs-target="#deletePoll"
                        style="transform: translate(0px,10px);" onmouseenter="hoverEffectAdd(this)"
                        onmouseleave="hoverEffectRemove(this)">
                    </i>
                    <a href="{% url 'poll' poll.id %}" class="ms-2 me-auto">
                        <div class="fw-bold">
                            <h3> {{poll.name}}
                            </h3>
                        </div>
                    </a>
                    <span class="badge bg-success rounded-pill">
                        Votes {{poll.total_votes}}
                    </span>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="deletePoll" tabindex="-1" aria-labelledby="deletePollLbl"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="deletePollLbl">Delete Poll</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure u want to delete the poll <strong>{{poll.name}}</strong>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" onclick="removeOpt(this)"
                                    data-pollId="{{poll.id}}">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}



                <script>
                    function removeOpt(e) {
                        var pollOpt = e.parentElement
                        $(pollOpt).remove()
                        deletePoll(e)
                    }
                    function hoverEffectAdd(e) {
                        $(e).attr("class", "zmdi zmdi-minus-circle zmdi-hc-lg pollOptionsLabel")
                    }
                    function hoverEffectRemove(e) {
                        $(e).attr("class", "zmdi zmdi-circle-o zmdi-hc-lg pollOptionsLabel")
                    }
                </script>
            </div>
        </div>
    </div>
</div>

{% endblock %}